.top_blog_heading {
  font-size: 2rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 0.5rem;
}

.top_blog_heading-desktop {
  display: none;
}

.top_blog_des {
  font-size: 1rem;
  color: #666;
  margin-bottom: 1.5rem;
  max-width: 500px;
}

.top_blog_tag_container {
  padding: 1rem;
  flex: 0 0 auto;
}

.top_blog_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2rem;
  overflow-x: auto;
  padding: 0 1rem; /* Padding to prevent card cutoff */
  scroll-padding-right: 2rem;
  scroll-behavior: smooth;
  margin: 0;
  list-style: none;
  scrollbar-width: none;
}

.top_blog_wrapper::-webkit-scrollbar {
  display: none; /* Hide scrollbar on Webkit browsers */
}

.loading-message,
.error-message {
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
  color: #ff4444;
}

@media screen and (min-width: 768px) {
  .top_blog_heading-desktop {
    display: block;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 1rem;
    text-align: center;
    color: #222;
  }

  .top_blog_heading,
  .top_blog_des {
    display: none;
  }

  .top_blog_tag_container {
    display: none;
  }

  .top_blog_wrapper {
    justify-content: center;
    padding: 2rem;
  }
}
